{% raw %}
[uwsgi]
plugins-dir = /usr/local/lib/uwsgi/
plugin = python34
chdir = {{ project_dir }}/
module = {{ project_name }}.wsgi
env = DJANGO_SETTINGS_MODULE={{ django_settings_module }}
virtualenv = {{ virtualenv_dir }}
master = True
vacuum = True
need-app = True
thunder-lock = True
processes = 5
max-requests = 5000
pidfile = /tmp/{{ project_name }}.{{ env }}.uwsgi.pid
socket = /tmp/{{ project_name }}.{{ env }}.wsgi.sock
chmod-socket = 666
uid = {{ app_user }}
gid = {{ app_group }}
disable-logging = False
log-maxsize = 10M
{% endraw %}
